.main
{
    display: inline-flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    border-radius: 24px;
    background: var(--color1, #0A0A0A);
}

.titleFrame
{
    min-width: 200px;
    position: relative;
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;

    border-radius: 12px;
    border: 1px solid var(--color3, #373737);
    background: var(--color2, #171717);
}

.top
{
    display: flex;
    align-items: center;
    gap: 12px;
}

.addIcon {
    position: absolute;
    top: 12px;
    right: 12px;

    width: var(--IconSIze, 20px);
    height: 20px;
    aspect-ratio: 1/1;
}

.title
{
    width: 127px;
    
    color: var(--Color8, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rectFrame
{
    width: 5px;
    height: 24px;
    border-radius: 7px;
    background: var(--Accents-Blue, #08F);
}

.time
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--color-45, #8A8A8A);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* контейнер прогресс-бара (completeBar) */
.progressBar {
  position: relative;
  width: 100%;      /* вместо фикс 176px */
  height: 5px;
  flex: 1 1 auto;   /* аналог flex-grow: 1 */
}

/* Rectangle 8 — фон (серый) */
.progressBar1 {
  position: absolute;
  inset: 0; /* left:0; right:0; top:0; bottom:0 */
  background: var(--color2-5, #262626);
  border-radius: 6px;
}

/* Rectangle 9 — заливка (чуть светлее) */
.progressBar2 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  /* Вариант А: если хочешь задавать “заполнение” через проценты */
  width: 65%; /* временно, потом подставишь из JS */

  background: #0088FF;
  border-radius: 9px;

  /* чтобы заливка не вылезала за скругления фона */
  max-width: 100%;
}

.tasksFrame
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

